*{
    margin-right: 20%;
    margin-left: 1%;
}

header h1{
    display: flex;
    justify-content: left;
}

form{
    margin-top: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
}

.patient_input{
    display: felx;
    justify-content: left;
}


#bio_data{
    margin-left: 3em;
}
